
<ul class="nav nav-tabs" id="navId">
  <li class="nav-item" style="color: green;" >
    <a href="#tab1Id" class="nav-link active">Bán sách</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
       aria-expanded="false">Tạo mới</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#create_employer">Nhân Viên</a>
      <a class="dropdown-item" href="create_customer">Khách Hàng</a>
      <a class="dropdown-item" href="bill">Hóa Đơn</a>
      <a class="dropdown-item" href="chitiet_bill">Chi tiết Đơn</a>
    </div>
  </li>
  <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
     aria-expanded="false">Danh sách</a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="list_employer">Nhân Viên</a>
    <a class="dropdown-item" href="list_customer">Khách Hàng</a>
    <a class="dropdown-item" href="list_bill">Hóa Đơn</a>
    <a class="dropdown-item" href="list_ct_bill">Chi tiết Đơn</a>
  </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
       aria-expanded="false">Sản Phẩm</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="create_book">Sách</a>
      <a class="dropdown-item" href="create_toy">Đồ chơi</a>
      <a class="dropdown-item" href="create_docung">Đồ dùng</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
       aria-expanded="false">Danh sách Sản Phẩm</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="list_book">Sách</a>
      <a class="dropdown-item" href="list_toy">Đồ chơi</a>
      <a class="dropdown-item" href="list_docung">Đồ dùng</a>
    </div>
  </li>
</ul>
