<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List-KhachHang</title>
</head>
<body>
<h1>Khách Hàng</h1>
<table border="1">
    <tr>
        <th>Mã khách hàng</th>
        <th>Tên khách hàng</th>
        <th>Ngày sinh</th>
        <th>Số điệ thoại</th>
        <th>Email</th>
        <th>Mã loai</th>
        <th>Sửa</th>
        <th>Xóa</th>
    </tr>
    <th:block th:each="khachhang : ${ListKhachhang}">
        <tr>
            <td th:text="${khachhang.maKhachHang}"></td>
            <td th:text="${khachhang.tenKhachHang}"></td>
            <td th:text="${khachhang.ngaySinh}"></td>
            <td th:text="${khachhang.soDienThoai}"></td>
            <td th:text="${khachhang.email}"></td>
            <td th:text="${khachhang.maLoai}"></td>
            <td><a th:href="@{/edit-khachhang/__${khachhang.maKhachHang}__ }">Edit</a></td>
            <td><a th:href="@{/delete-khachhang/__${khachhang.maKhachHang}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>